<div id="dashboard"> 
	
	<div class="row">
		
		<div class="col-sm-10 col-sm-offset-1">
			
			<div class="cluster">
				
				<h1>Open issues</h1>
	
				<ul as-sortable="dashboardCtrl.clusterOneOpts"
					ng-model="dashboardCtrl.clusterOne">
				    
				    <li ng-repeat="item in dashboardCtrl.clusterOne" as-sortable-item class="as-sortable-item">
				        
				        <div as-sortable-item-handle class="as-sortable-item-handle">
				             
				            <bug title="{{item.title}}"
				            	bug-title="item.title"
				            	bug-id="item.id"
				            	bug-severity="item.severity"
				            	bug-product="item.product"
				            	bug-version="item.version"
				            	bug-component="item.component"
				            	bug-classification="item.classification"
				            	bug-status-code="item.statusCode"
				            	bug-status-name="item.statusName"
				            	bug-last-update="item.lastUpdate">
				            </bug>
				        </div>
				    </li>
				</ul>
			</div><!-- /cluster -->

			<div class="cluster">
				
				<h1>Closed issues</h1>
				
				<ul as-sortable="dashboardCtrl.clusterTwoOpts"
					ng-model="dashboardCtrl.clusterTwo">
				    
				    <li ng-repeat="item in dashboardCtrl.clusterTwo" as-sortable-item class="as-sortable-item">
				        <div as-sortable-item-handle class="as-sortable-item-handle">

				            <bug title="{{item.title}}"
				            	bug-title="item.title"
				            	bug-id="item.id"
				            	bug-severity="item.severity"
				            	bug-product="item.product"
				            	bug-version="item.version"
				            	bug-component="item.component"
				            	bug-classification="item.classification"
				            	bug-status-code="item.statusCode"
				            	bug-status-name="item.statusName"
				            	bug-last-update="item.lastUpdate">
				            </bug>
				        </div>
				    </li>
				</ul>
			</div><!-- /cluster -->

		</div><!-- /col -->

	</div><!-- /row -->

</div><!--/dashboard -->